# binaries
*.out
*.exe
*.class
target/
*.jar

# io files
*.zip
*.in
*.txt
*.testcases

# cph config files
.cph/

# editor caches
.vscode/

# stress and other test files
gen.cpp
*.gen
gen.*
brute.cpp
*.brute
brute.*
test_*

# debugging files
.vimspector.json

